<h3>Download Assignment</h3>

<%= link_to "Download #{@assignment.name}", @assignment.download_url, target: '_blank', class: "btn btn-primary" %>
<br><br>
<%= link_to "Back to Assignments", "/schools/#{@assignment.school.id}/assignments" %>