    <body data-spy="scroll" data-offset="80">
         <div class="navbar navbar-default navbar-fixed-top menu-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#home"><i class="fa fa-pencil"></i> OPENHOMEWORK</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/schools">Search Schools</a></li>
                    </ul>
                </div> 
            </div>
        </div> 

        <!-- Top content -->
        <div id="home" class="parallax top-content" data-stellar-background-ratio="0.3">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">

      <div class="col-md-10 col-md-offset-1 top-description">
        
        <h2 class="text-center">
        BE RESOURCEFUL</h2>
            <p>Download past assignments and exams from your courses.</p>
                                <div class="top-button">
                              <!--<a class="btn btn-top btn-lg" href="#portfolio-section"></a>-->
                              <a class="btn btn-top-white btn-lg" href="/schools"> Search Schools</a>
                            </div>
  
          </div>
                            </div>
  
          </div>

      
        </div>
      </div>

        <!-- Features -->
        <div id="features-section" class="features-container">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 features">
                      <h3>How It Works</h3>

                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 features-box">
                    <div class="icon">
                      <i class="fa fa-search"></i>
                    </div>
                      <h4>Search for your school</h4>
                      <p>
                        We have every college in the US in our system
                      </p>

                  </div>
                  <div class="col-sm-4 features-box">
                    <div class="icon">
                      <i class="fa fa-download"></i>
                    </div>
                      <h4>Download an assignment, exam, and other course materials</h4>
                      <p>
                        Use course materials uploaded by students that took the same course as you!

                      </p>


                  </div>
                  <div class="col-sm-4 features-box">
                    <div class="icon">
                      <i class="fa fa-smile-o"></i>
                    </div>
                      <h4>Get A+'s</h4>
                      <p>
                        You're very welcome

                      </p>
    

                  </div>
              </div>
          </div>
        </div>
        
  <!-- footer -->
  <div id="footer">
  <h3>Stalk Us</h3>
  <div class="follow-us">
    <a href="https://www.facebook.com/openhomework" class="social-icon"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
  <!-- footer 2 -->
  <div id="footer2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        <div class="copyright">&copy;
              <script type="text/javascript">
              //<![CDATA[
                var d = new Date()
                document.write(d.getFullYear())
                //]]>
                </script>
                - <a href="/">openhomework.com</a>
            </div>
            </div>
          </div>
        </div>
          </div>
