<h3>Search Schools</h3>
<%= simple_form_for :search, url: "/schools/search", method: :get do |f| %>
  <%= f.input :query, label: "School Name" %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<h3>Search Results</h3>
<div class="table-responsive"> 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>School</th>
      </tr>
    </thead>
    <tbody>

      <% @schools.each do |s| %>
      <tr>
        <td><%= link_to s.name, "/schools/#{s.id}/assignments" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>