<div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-sm-12">

      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header role="heading">
    
          <h2></h2>

        </header>

        <!-- widget div-->
        <div role="content">


          <!-- widget content -->
          <div class="widget-body">

    

          </div>
          <!-- end widget body-->

        </div>
        <!-- end widget content -->

      </div>
      <!-- end widget -->

    </article>
    <!-- WIDGET END -->

  </div>